.container {
  width: 100vw;
  max-width: 482px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  /* overflow-y: scroll; */
  z-index: 4;
}

@media screen and (max-width: 280px) {
  .container {
    overflow-y: scroll;
  }
}

@media (orientation: landscape) {
  .container {
    overflow-y: scroll;
  }
}
