/* @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@300;400;500;600&display=swap"); */
/* CSS Reset */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #646669ff;
  background-color: rgba(234, 229, 226, 0.767);
  background-image: url("./images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

li {
  list-style: none;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  z-index: 2;
  text-align: center;
}

h2 {
  font-weight: normal;
}

.text-align-left {
  text-align: left !important;
}

.display-none {
  display: none !important;
}

.z-index-1 {
  z-index: 1 !important;
}

.overflorw-y {
  overflow-y: hidden;
}

.mb-1rem {
  margin-bottom: 1rem !important;
}

.mt-3rem {
  margin-top: 3rem;
}

#root {
  width: 100%;
}

.button-reset {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.v1-button-wrapper {
  padding: 10px 18px;
  color: #444040;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 500;
  z-index: 99;
  background-color: #efefef;
  margin-top: 14px;
  transition: 0.2s ease-in;
  border: 1px solid #646669ff !important;
}

.v1-button-wrapper:hover {
  padding: 8px 16px;
}

.position-relative {
  position: relative;
}

/* bg-image */
.bg-image {
  background-image: url("./images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

/* layout-settings */
.layout-settings {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 34px;
  /* position: relative; */
  z-index: 2;
}

.height100 {
  height: 100%;
}

@media (orientation: landscape) {
  .height100 {
    height: 740px;
  }
}

.height-auto {
  height: auto;
}

.pt-pb-2rem {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.display-status {
  display: none;
}

.gap-0coma5rem {
  gap: 1rem;
}

.gap-1rem {
  gap: 1rem;
}

.gap-1coma5rem {
  gap: 1.5rem;
}

.gap-2rem {
  gap: 2rem;
}

.d-flex {
  display: flex;
}

.j-content-end {
  justify-content: end;
}

.d-flex-fd-column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.d-flex-fd-column-at-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.p-text-script {
  font-family: "Great Vibes";
  font-size: 28px;
  color: #87a0c5ff;
  text-transform: capitalize;
}

/* animation-transition */
.transition-bottom-to-top {
  z-index: 2;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.transition-bottom-to-top.active {
  opacity: 1;
  transform: translateY(0%);
}

.transition-top-to-bottom {
  z-index: 2;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.transition-top-to-bottom.active {
  opacity: 1.5;
  transform: translateY(0%);
}

.transition-center-to-left {
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.transition-center-to-left.active {
  opacity: 1;
  transform: translateX(0%);
}

.transition-center-to-right {
  opacity: 0;
  transform: translateX(50%);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.transition-center-to-right.active {
  opacity: 1;
  transform: translateX(0%);
}

/* fade in */
.fade-in {
  opacity: 0;
  transition: opacity 1s;
}

.fade-in-visible {
  opacity: 1;
}
